{% extends "SchumaUserBundle::layout.html.twig" %}

{% block fos_user_title %}
    <h2>Liste Utilisateurs</h2>
{% endblock %}


{% block fos_user_content %}
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Roles</th>
                <th colspan="2">Gestion roles</th>
            </tr>
        </thead>

        <tbody>
            {% for user in list %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{% for role in user.roles %} {{ role }}, {% endfor %}</td>
                    <td><a href="{{ path('schuma_user_demote_user', {'id': user.id}) }}"
                           role="button" class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-minus"></span></a></td>
                    <td><a href="{{ path('schuma_user_promote_user', {'id': user.id}) }}"
                           role="button" class="btn btn-success btn-sm">
                            <span class="glyphicon glyphicon-plus"></span></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
