{% extends "SchumaBlogBundle::layout.html.twig" %}

{% block section_body %}
    <div class="page-header">
        <h2>L'actualité</h2>
    </div>

    {% if is_granted("ROLE_AUTHOR") %}
    <p>
        <a href="{{ path('schuma_blog_add_article') }}">
            <span class="glyphicon glyphicon-plus"></span> Ajouter un article </a>
    </p>
    {% endif %}

    {% for item in list %}
        <a class="path_article" href="{{ path('schuma_blog_get_article', {'id' : item.id}) }}">
        <div class="panel panel-success article-panel">
            <div class="panel-body">
                <h3> <b>{{ item.title|capitalize }}</b>
                    <small>par {{ item.author.username|title }} </small> </h3>

                {{ item.resume }}

                <div>
                    <br>
                    <small><span class="glyphicon glyphicon-time"></span> {{ item.date|date('d/m/Y') }}</small>
                </div>
            </div>
        </div>
        </a>
    {% endfor %}

{% endblock %} 
