{% extends "SchumaBlogBundle::layout.html.twig" %}


{% block section_body %}
    <div class="page-header text-center">
        <h2>{{ article.title }}</h2>
        <p><i>Publié le {{ article.date|date('d-m-Y') }} par {{ article.author.username|title }}</i></p>
    </div>


    <p class="text-justify">
        <b>{{ article.resume }}</b>
    </p>

    <p class="text-justify">
        {{ article.body|striptags('<br><h3><p><ul><li><b>')|raw }}
    </p>

    <p>
        {% if is_granted("ROLE_ADMIN") or app.user == article.author %}
            <a href="{{ path('schuma_blog_edit_article', {'id': article.id}) }}">
                <span class="glyphicon glyphicon-pencil"></span> Editer l'article </a>

            <a href="{{ path('schuma_blog_delete_article', {'id': article.id}) }}">
                <span class="glyphicon glyphicon-trash"></span> Supprimer l'article </a>
        {% endif %}
    </p>

    <div>
        <h4 class="text-right"> {{ number }} Commentaires </h4>
        {% if is_granted("ROLE_USER") %}
            {{ form_start(commentForm) }}
                {{ form_errors(commentForm) }}
                    {{ form_errors(commentForm.body) }}
                    {{ form_widget(commentForm.body, {'attr':{'class': 'form-control'}}) }}

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary col-xs-12">
                            <span class="glyphicon glyphicon-ok-sign"></span> Envoyer</button>
                    </div>
            {{ form_end(commentForm) }}
        {% endif %}

        <br/>

        {% for comment in comments %}
            <div class="row">
                <div class="col-xs-6">
                    <h5><b>{{ comment.author.username|capitalize }}</b></h5>
                </div>
                <div class="col-xs-6 text-right">
                    <h5><small><i>le {{ comment.date|date('d/m/Y \\à H:i') }}</i></small></h5>
                </div>

                <div class="col-xs-10">
                    {{ comment.body }}
                </div>
                <div class="col-xs-2">
                    {% if is_granted("ROLE_ADMIN") or app.user == comment.author %}
                        <a href="{{ path('schuma_blog_edit_comment', {'id': comment.id}) }}">
                            <span class="glyphicon glyphicon-edit"></span> éditer</a>
                        <br>
                        <a href="{{ path('schuma_blog_delete_comment', {'id': comment.id}) }}">
                            <span class="glyphicon glyphicon-trash"></span> supprimer</a>
                    {% endif %}
                </div>
            </div>

            {% if loop.last == false  %}
                <hr>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %} 
