{% extends "SchumaBlogBundle::layout.html.twig" %}


{% block section_body %}
    <div class="page-header text-center">
        <h2>{{ article.title|title }}</h2>
        <p><i>Publié le {{ article.date|date('d-m-Y') }} par {{ article.author.username|title }}</i></p>
    </div>


    <p class="text-justify">
        <b>{{ article.resume }}</b>
    </p>

    <p class="text-justify">
        {{ article.body| bbcode_filter('my_bbcode_filter') }}
    </p>

    <p class="text-right panel">
        {% if is_granted("ROLE_ADMIN") or app.user == article.author %}
            <a href="{{ path('schuma_blog_edit_article', {'id': article.id}) }}">
                <span class="glyphicon glyphicon-pencil"></span> Editer l'article </a>

            <a data-toggle="modal" data-target="#deleteMyArticle" class="modal-link">
                <span class="glyphicon glyphicon-trash"></span> Supprimer l'article </a>


            <div class="modal fade" id="deleteMyArticle" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Confirmer la suppression</h4>
                        </div>
                        <div class="modal-body">
                            <p>Attention cet article sera définitivement supprimé !</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-info" data-dismiss="modal">Annuler</button>
                            <a href="{{ path('schuma_blog_delete_article', {'id': article.id}) }}" class="btn btn-danger">
                                <span class="glyphicon glyphicon-trash"></span> Supprimer</a>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal -->

        {% endif %}
    </p>

    <div>
        <h4 class="text-right"> {{ number }} Commentaires </h4>
        {% if is_granted("ROLE_USER") %}
            {{ form_start(commentForm) }}
                {{ form_errors(commentForm) }}
                    {{ form_errors(commentForm.body) }}
                    {{ form_widget(commentForm.body, {'attr':{'class': 'form-control'}}) }}

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary col-xs-12">
                            <span class="glyphicon glyphicon-ok-sign"></span> Envoyer</button>
                    </div>
            {{ form_end(commentForm) }}
            <br>
        {% endif %}

        <br>
        {% for comment in comments %}
            <div class="row">
                <div class="col-xs-2 text-right">
                    <img src="{{ asset('img/logo-feuille.jpg') }}" alt="avatar" class="img-circle">
                    <br>
                    {% if is_granted("ROLE_ADMIN") or app.user == comment.author %}
                        <a href="{{ path('schuma_blog_edit_comment', {'id': comment.id}) }}">
                            <span class="glyphicon glyphicon-edit"></span> éditer</a>
                        <br>
                        <a data-toggle="modal" data-target="#deleteComment{{ comment.id }}" class="modal-link">
                            <span class="glyphicon glyphicon-trash"></span> suppr.</a>
                    {% endif %}
                </div>

                <div class="col-xs-10">
                    <h5><b>{{ comment.author.username|capitalize }}</b>
                        <small><i> {{ comment.date|date('d/m/Y \\à H:i') }}</i></small></h5>
                    {{ comment.body }}
                </div>
            </div>

            {% if loop.last == false  %}
                <hr>
            {% endif %}


            <div class="modal fade" id="deleteComment{{ comment.id }}" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Confirmer la suppression</h4>
                        </div>
                        <div class="modal-body">
                            <p>Attention ce commentaire sera définitivement supprimé !</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-info" data-dismiss="modal">Annuler</button>
                            <a href="{{ path('schuma_blog_delete_comment', {'id': comment.id}) }}" class="btn btn-danger">
                                <span class="glyphicon glyphicon-trash"></span> Supprimer</a>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal -->
        {% endfor %}
    </div>
{% endblock %}
