{# src/Schuma/BlogBundle/Resources/views/Blog/add_article.html.twig #}

{% extends "SchumaBlogBundle::layout.html.twig" %}


{% block body %}
<div class="container">
    <h2>Nouvel article</h2>
        <section class="row">

            <div class="well col-sm-10 col-xs-12">
                {{ form_start(form) }}
                    {{ form_errors(form) }}
                    <div class="form-group">
                        {{ form_label(form.title, 'Titre : ') }}
                        {{ form_errors(form.title) }}
                        {{ form_widget(form.title) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.resume, 'Résumé : ') }}
                        {{ form_errors(form.resume) }}
                        {{ form_widget(form.resume) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.body, 'Texte : ') }}
                        {{ form_errors(form.body) }}
                        {{ form_widget(form.body) }}
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-ok-sign"></span> Envoyer</button>
                {{ form_end(form) }}
            </div>
        </section>
</div>

{% endblock %}
