{# src/Schuma/BlogBundle/Resources/views/Blog/view_article.html.twig #}

{% extends "SchumaBlogBundle::layout.html.twig" %}


{% block section_body %}
<div class="row">

    <div class="col-xs-12">
        <h2>{{ article.title }}</h2>
        <div class="well">
            {{ article.body|striptags('<br><h3><p><ul><li><b>')|raw }}
        </div>
        <p>
            {% if is_granted("ROLE_ADMIN") %}
                <a href="{{ path('schuma_blog_editArticle', {'id': article.id}) }}">
                    <span class="glyphicon glyphicon-plus"></span> Editer l'article </a>
            {% endif %}
        </p>

        <div>
            <h3> {{ number }} Commentaires </h3>
            {% if is_granted("ROLE_USER") %}
                {{ form_start(form) }}
                    {{ form_errors(form) }}
                        {{ form_errors(form.body) }}
                        {{ form_widget(form.body) }}
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-ok-sign"></span> Envoyer</button>
                {{ form_end(form) }}
            {% endif %}

            {% for comment in comments %}
                <p>
                    <h4>{{ comment.author|capitalize }}</h4>
                    {{ comment.body }}
                    <hr/>
                </p>
            {% endfor %}

        </div>
    </div>

</div>
{% endblock %} 
